@keyframes fade-in{
    from {
        opacity: 0; 
        background-color: black;
    }
    to {
        opacity: 1;
        background-color: rgba(255,204,204,1);
    }
} 

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 500px 500px;
    }
}


   

body {
margin: 0;
padding: 0;
background-color: rgba(255,204,204,1);
background-image: url('IMAGES/background.png');
background-attachment: fixed;
background-size: 500px;
animation: animatedBackground 15s linear infinite, fade-in 0.5s ease-in-out;
overflow-x: hidden;
display: flex;
justify-content: center;
}

header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: rgba(255, 153, 153, 1);
padding: 10px;
border-bottom: 2px solid;
}

#header_img {
margin: 0;
width: 8%;
transition: transform 0.3s ease-in-out;
}

#header_img:hover {
transform: scale(1.1)
}

#toggle-dark-button {
position: fixed;
top: 6px;
right: 6px;
cursor: pointer;
font-family: myFirstFont;
font-size: 20px;
/* <<<<<<< HEAD */
/* font-weight: bold;
color: #03001C !important;
text-transform: uppercase;
background: #ffe3e3;
padding: 10px;
border: 4px solid #001f3f !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
======= */
}

#toggle-dark-button {
    color: #03001C !important;
    text-transform: uppercase;
    background: #ffe4e4;
    padding: 10px;
    border: 4px solid #001f3f !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
/* >>>>>>> b148ad4650d9ddd7787091d3d147ff0abeba40a2 */
}

#toggle-dark-button:hover {
    color: #001f3f !important;
    border-radius: 50px;
    border-color: #fe9e9e!important;
    transition: all 0.3s ease 0s;
}

footer {
    z-index: 1;
border-top: 2px solid;
text-align: center;
bottom: 0;
position: fixed;
width: 100%;
background-color: rgba(255, 153, 153, 1);
border-top: 2px solid;
padding: 5px;
font-family: myFirstFont;
}

a {
color: black;
font-family: myFirstFont;
font-size: 20px;
/* padding-left: px; */
text-decoration: none;
justify-self: center;
}

@font-face {
    font-family: myFirstFont;
    src: url('fonts/joystix_monospace.otf');
    font-size: 20px;
}

@keyframes lightt {
    0%   {
        background-position: 0% 50%;
    }
    25%  {
        background-position: 50% 50%;
    }
    50%  {
        background-position: 100% 50%;
    }
    75%  {
        background-position: 150% 50%;
    }
    100%  {
        background-position: 200% 50%;
    }
}

.light-header-footer {
animation-name: lightt;
animation-duration: 7s;
animation-iteration-count: infinite;
animation-timing-function: linear;
background: linear-gradient(90deg,  #f89e9e, #ffc2c0, #f89e9e);
background-size: 200% 100%; 
}

.dark-mode {
background-color: #001f3f;
color: #ffffff;
background-image: url(IMAGES/background1.png);
}

.dark-text {
color: white;
}

@keyframes darkk {
    0%   {
        background-position: 0% 50%;
    }
    25%  {
        background-position: 50% 50%;
    }
    50%  {
        background-position: 100% 50%;
    }
    75%  {
        background-position: 150% 50%;
    }
    100%  {
        background-position: 200% 50%;
    }
}

.dark-header-footer {
animation-name: darkk;
animation-duration: 13s;
animation-iteration-count: infinite;
animation-timing-function: linear;
background: linear-gradient(90deg, #003060, #22588f, #003060);
background-size: 200% 100%; 
}

.light-border {
border-color: black;
}

.dark-border {
border-color: white;
}



#side {
    border-right: 5px dashed;
position: fixed;
left: 0;
width: 25%;
height: 100vh;
overflow-y: scroll;  
top: 66px;
bottom: 65px;
border-right: 5px dashed;
border-spacing: 50px;
overflow-y: scroll;
}

#side::-webkit-scrollbar {
    width: 12px;
}

#side::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

#side::-webkit-scrollbar-track {
    background-color: transparent;
}




#side_title {
text-shadow: 2px 2px 0px black, -2px -2px -0px white;
color: crimson; 
font-family: myFirstFont;
text-align: center;
font-size: 35px;
margin-top: 50px;
width: 100%;
}

#side_list {
height: 130%;
/* overflow-y: scroll; */
font-family: century gothic;
margin-top: 4%;
margin-left: 12.5%;
width: 75%;
list-style-type: none;
border-radius: 20px;
border: 5px dashed black;
box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.4);
background-color: rgba(255, 255, 255, 0.5);
}

#side_list ul {
padding-left: 20px;
list-style-type: none;
}

#side_list li {
padding-left: 45px;
margin-bottom: 15px;
image-rendering: pixelated;
background: url('IMAGES/bullet1.png') left center no-repeat;
background-size: 30px;
transition: transform 0.3s ease-in-out;

}

#side_list li:hover {
transform: scale(1.07);
font-weight: bold;
}

#side_list a {
    align-self: center;
    font-family: myFirstFont;
}

a {
    color: black;
    font-size: 20px;
    /* padding-left: px; */
    text-decoration: none;
    justify-self: center;
    }

#statement {
    animation: right-fade-in 0.5s ease-in-out;
}

#comment {
    animation: right-fade-in 0.5s ease-in-out;
}

#whatisjavascript {
    animation: right-fade-in 0.5s ease-in-out;
}


#datatypes {
    animation: right-fade-in 0.5s ease-in-out;
}

#reserved {
    animation: right-fade-in 0.5s ease-in-out;
}

#operators {
    animation: right-fade-in 0.5s ease-in-out;
}

#assignment {
    animation: right-fade-in 0.5s ease-in-out;
}

#decisionmaking {
    animation: right-fade-in 0.5s ease-in-out;
}

#loops {
    animation: right-fade-in 0.5s ease-in-out;
}

#functions {
    animation: right-fade-in 0.5s ease-in-out;
}

#objek {
    animation: right-fade-in 0.5s ease-in-out;
}

#aray {
    animation: right-fade-in 0.5s ease-in-out;
}

#main {
    /* bottom: 0; */
    margin-top: 60px;
    margin-left: 25%;
    padding: 20px;
    display: flex;
    justify-content: center;
    animation: right-fade-in 0.5s ease-in-out;
    height: auto;

    }
    
    @keyframes right-fade-in{
        from {
            opacity: 0;
            transform: translate(80px);
        }
        to {
            opacity: 1;
            transform: translate(0px);
        }
    } 


#main_title {
border: 10px ridge crimson;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5), -2px -2px -0px rgba(255, 255, 255, 0.5);
border-radius: 10px;
text-align: center;
font-family: myFirstFont;
margin-top: 2%;
/* margin-left: 2%; */
font-size: 40px;
}

#semi_title {
    text-align: center;
    font-weight: bold;
}

#main_content {
font-family: "comic sans ms", cursive;
text-align: justify;
margin-top: 5%;
margin-left: 8%;
margin-right: 6%;
font-size: 30px;
/* overflow: hidden; */
}

#main_content ul {
font-family: century gothic;
margin-top: 5%;
margin-left: 8%;
margin-right: 6%;
font-size: 25px;
}

#main_content table, td {
margin-left: 8%;
font-family: "comic sans ms", cursive;
border: 3px solid;
border-collapse: collapse;
text-align: center;
padding-left: 50px;
padding-right: 50px;
}

#script {
border: 5px ridge rgb(220, 20, 60);
color: white;
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.5);

}

#controls {
font-size: 10px;
font-family: myFirstFont, arial;
position: fixed;
width: 75.5%;
/* height: 11%; */
bottom: 9%;
left: 25%;
text-align: center;
/* content: left; */
/* border-top: 2px dashed black; */
}

hr {
    border-style: solid;
}

#quiz {
    padding: 5%;
    padding-bottom: 7%;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10%;
}

#quiz p{
    font-size: 30px;
    font-family: myFirstFont;
    margin-bottom: 5%;
}

#quiz a{
    z-index: 1;
    background-color: rgb(172, 165, 167);
    padding: 20px;
    border-radius: 20px;
}

#controls a{
    font-size: 40px;
    top: 0;
    /* text-align: bottom; */
    padding: 10px;
    
}

#textcode{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#textcode a{
    background: linear-gradient(to right, #FBACCC, #F1D1D0); 
    transition: background 3s ease, transform 0.1s ease-in-out;
    padding: 20px;
    border-radius: 10px;
}

#textcode a:hover{
    background: linear-gradient(to right, #F1D1D0, #FBACCC);
}

#left {
    margin-right: 90%;
}

#back:hover {
transform: scale(1.1);
}




@media screen and (max-width: 1280px) {
    #main {
        margin-left: 0;
    }
    #controls {
        width: 100%;
        left: 0;
    }
    #footer{
        font-size: 80px;
    }
    #left {
        margin-right: 80%;
    }
    #side {
        display: none;
    }


}

@media screen and (max-width: 1680px) {
    #left {
        margin-right: 85%;
    }


}

@media screen and (max-width: 1000px) {
    #left {
        margin-right: 80%;
    }
}

@media screen and (max) {
    
}

@media screen and (max-width: 720px) {
    #left {
        margin-right: 70%;
    }

}

@media screen and (max-height: 720px) {
    footer {
        font-size: 10px;
    }
}

@media screen and (max-height: 300px) {
    #controls {
        bottom: 20%;
    }
}