body {
margin: 0;
padding: 0;
background-color: rgba(255,204,204,1);
background-image: url('IMAGES/background.png');
background-attachment: fixed;
background-size: 250px;
animation: animatedBackground 5s linear infinite, fade-in 0.5s ease-in-out;
overflow-x: hidden;
}

@keyframes fade-in{
    from {
        opacity: 0; 
        background-color: black;
    }
    to {
        opacity: 1;
        background-color: rgba(255,204,204,1);
    }
} 

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 250px 250px;
    }
}


a {
color: black;
text-decoration: none;
}


header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: rgba(255, 153, 153, 1);
box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
padding: 10px;
}

footer {
text-align: center;
bottom: 0;
position: fixed;
width: 100%;
background-color: rgba(255, 153, 153, 1);
padding: 5px;
font-family: century gothic;
}





#header_img {
margin: 0;
width: 8%;
transition: transform 0.3s ease-in-out;
}

#header_img:hover {
transform: scale(1.1)
}

#toggle-dark-button {
position: fixed;
top: 0;
right: 0;
cursor: pointer;
padding: 20px 25px;
font-family: arial;
font-size: 20px;
}





#side {
position: fixed;
width: 25%;
top: 70px;
bottom: 65px;
border-right: 2px dashed black;
border-spacing: 5px;
overflow-y: scroll;
}

#side_title {
text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
font-family: courier new;
text-align: center;
font-size: 35px;
margin-top: 50px;
width: 100%;
}

#side_list {
font-size: 21px;
font-family: century gothic;
margin-top: 50px;
margin-left: 12.5%;
width: 75%;
list-style-type: none;
border-radius: 20px;
border: 2px dashed;
background-color: rgba(255, 255, 255, 0.5);
}

#side_list ul {
list-style-type: none;
}

#side_list li {
padding-left: 25px;
margin-bottom: 15px;
background: url('IMAGES/bullet1.png') left center no-repeat;
background-size: 20px;
transition: transform 0.3s ease-in-out;

}

#side_list li:hover {
transform: scale(1.07);
font-weight: bold;
}






#whatisjavascript {
    height: 150vh;
    animation: right-fade-in 0.5s ease-in-out;
}


#datatypes {
    height: 230vh;
    animation: right-fade-in 0.5s ease-in-out;
}

#reserved {
    height: 120vh;
    animation: right-fade-in 0.5s ease-in-out;
}

#operators {
    height: 880vh;
    animation: right-fade-in 0.5s ease-in-out;
}

#decisionmaking {
    height: 500vh;
    animation: right-fade-in 0.5s ease-in-out;
}

#loops {
    height: 850vh;
    animation: right-fade-in 0.5s ease-in-out;
}

#functions {
    height: 250vh;
    animation: right-fade-in 0.5s ease-in-out;
}

#main {
    bottom: 0;
    margin-top: 60px;
    margin-left: 25%;
    padding: 10px; 
    }
    
    @keyframes right-fade-in{
        from {
            opacity: 0;
            transform: translate(80px);
        }
        to {
            opacity: 1;
            transform: translate(0px);
        }
    } 

#main_title {
font-family: courier;
margin-top: 5%;
margin-left: 2%;
font-size: 35px;

}

#main_content {
font-family: "comic sans ms", cursive;
margin-top: 5%;
margin-left: 8%;
margin-right: 6%;
font-size: 25px;
}

#main_content ul {
font-family: century gothic;
margin-top: 5%;
margin-left: 8%;
margin-right: 6%;
font-size: 25px;
}

#main_content table, td {
margin-left: 8%;
font-family: courier;
border: 2px solid;
border-collapse: collapse;
text-align: center;
padding-left: 50px;
padding-right: 50px;
}

#script {
border: 2px solid gray;
background-color: rgba(217, 217, 217, 1);

}






#controls {
font-size: 50px;
font-family: arial;
position: fixed;
width: 75%;
bottom: 6.5%;
margin-left: 25%;
text-align: center;
border-top: 1px solid black;
}

#controls a{
    text-align: center;
}

#back:hover {
transform: scale(1.1);
}

