body {
    display: flex; 
    justify-content: center;
    animation: animatedBackground 3s linear infinite, fade-in 0.5s ease-in-out;
  }

  @font-face {
  font-family: myFirstFont;
  src: url('fonts/joystix_monospace.otf');
  }

  header {
    padding-bottom: 14px;
  }


  #question{
    display: flex;
    position: fixed;
    justify-content: center;
    top: 10%;
    padding-bottom: 4%;
    padding-right: 2%;
    padding-left: 2%;
    border: 5px dashed black;
    border-radius: 20px;
    width: 75%;
    background-color: rgba(255,255, 255, 0.3);   
    height: 20%;
  }

  #side_title{
    top: 2%;   
    position: absolute;
    width: 75%;
    border-radius: 20px;
    border: 6px ridge crimson;
    font-size: 40px;
  }

  #main_content{
    top: 30%;
    position: absolute;
    font-size: 25px;
    font-family: myFirstFont;
  }

  .choice {
    position: absolute;
    border-radius: 20px;
    width: 37.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 60px; 
    border: 2px dashed black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New';
    background-color: rgba(255,255, 255, 0.3);
    transition: transform 0.5s ease-in-out;
  }
  @keyframes animation {
    
  }
  .choice:hover {
    transform: scale(1.07);
    border-radius: 50px;
  }
  #progress {
    position: absolute;
    bottom: 9%;
    border-radius: 20px;
    width: 50.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px; 
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New'; 
  }
  #result {
    display: none;
    text-align: center;
    position: fixed;
    justify-content: center;
    top: 10%;
    padding: 4%;
    border: 5px dashed black;
    border-radius: 20px;
    width: 75%;
    font-size: 50px;
    font-family: myFirstFont;
    background-color: rgba(255,255, 255, 0.3);   
    height: 60%;
  }

  #try, #return{
    display: none;
    cursor: pointer;
    top: 50%;
    position: absolute;
    border-radius: 50px;
    width: 30%;
    text-align: center;
    background-color: crimson;
    font-family: myFirstFont;
    transition: transform 0.5s ease-in-out;
    padding: 2%;
    font-size: 30px;
  }

  #try:hover, #return:hover {
    transform: scale(1.07);
    border-radius: 50px;
  }

  @media screen and (max-width: 1280px) {
    #question{
      height: 20%;
    }
    .choice {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 45px;
      padding-bottom: 45px;
    }
    #side_title{
      font-size: 30px;
    }
    #main_content{
      font-size: 20px;
      top: 34%;
    }
    #result {
      height: 70%;
      font-size: 45px;
    }
  }

  @media screen and (max-width: 720px) {
    #question{
      height: 25%;
    }
    .choice {
      font-size: 15px;
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    #side_title{
      font-size: 25px;
    }
    #main_content{
      top: 34%;
    }
    #result {
      font-size: 40px;
    }
  }


  @media screen and (max-width: 500px) {
    #result {
      font-size: 32px;
    }
    #try, #return{
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 20px;
    }
  }

  @media screen and (max-height: 900px) {
    #question{
      height: 20%;
    }
    .choice {
      font-size: 15px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    #main_content{
      font-size: 20px;
      top: 34%;
    }
    #progress {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #result {
      height: 65%;
    }
    #try, #return{
      padding: 10px;
      font-size: 30px;
    }
  }

  @media screen and (max-height: 720px) {
    #question{
      top: 15%;
      height: 15%;
    }
    .choice {
      font-size: 15px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    #side_title{
      top: -35%;
      font-size: 30px;
    }
    #main_content{
      font-size: 20px;
      top: 10%;
    }
    #progress {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #result {
      height: 60%;
      top: 15%;
      font-size: 30px;
    }
    #try, #return{
      padding: 10px;
      font-size: 18px;
    }
  }



